
<div class="container">

<h1>Welcome to Charta</h1>


<%= link_to "Explore the projects", projects_path, :class => "btn btn-primary"%>
<% if  current_user.admin%>
  <%= link_to "Manage website (add user, etc.)", rails_admin_path, :class => "btn btn-danger"%>
<% end %>

</div>
