
<div class="container">

<h1>Welcome to Charta</h1>


<%= link_to "Explore the projects", projects_path, :class => "btn btn-primary"%>

<% if user_signed_in? %>

<% if current_user.admin %>

<%= link_to "Manage the website (example: add users)", admin_path, :class => "btn btn-primary"%>

<% end %>

<% end %>

</div>
