
<div class="container">

<h1>Welcome to Charta</h1>

<%= image_tag("glass.png", width: "27%", class: "img-responsive center-block") %>
<h2></h2>
<h3></h3>
<%= link_to "Explore the projects", projects_path, :class => "btn btn-primary btn-lg center-block"%>




</div>
