
<%= render 'form_new', project: @project %>

<div class="container">
  <div class="row ">
    <div class="col-sm-6 col-sm-offset-3">
<%= link_to 'Back to projects list', projects_path %>
</div>
  </div>
</div>
